<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>ПРАКТИЧЕСКАЯ РАБОТА №3</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body style="background: #5CDB95">
<h2>Редактирование данных автомобиля</h2>
<div th:each="el : ${cars}" th:object = "${cars}">
  <form  method="post">
    <input type="text" th:value="${el.getCarbrand()}" th:field="*{carbrand}" name="carbrand" placeholder="Марка"> <br>
    <div style="color: white" th:if="${#fields.hasErrors('carbrand')}" th:errors="*{carbrand}"></div>
    <input type="text" th:value="${el.getCarsmodel()}" name="carsmodel" th:field="*{carsmodel}" placeholder="Модель"><br>
    <div style="color: white" th:if="${#fields.hasErrors('carsmodel')}" th:errors="*{carsmodel}"></div>
    <input type="text" th:value="${el.getYear_release()}" name="year_release" th:field="*{year_release}" placeholder="Год выпуска"><br>
    <div style="color: white" th:if="${#fields.hasErrors('year_release')}" th:errors="*{year_release}"></div>
    <input type="text" th:value="${el.getColor()}" name="color" th:field="*{color}" placeholder="Цвет"><br>
    <div style="color: white" th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></div>

    <br>
    <form>
      <button type="submit" style="background: #379683"> Изменить данные автомобиля</button>
    </form>
  </form>
</div>
</body>
</html>